@page "/list"
@inherits ClaimListBase
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        @* <h6 class="mb-4">Hello, @Name</h6>*@
    </Authorized>
</AuthorizeView>


<div>
    <h2>
        Expense Claim List
        @if (Role == "Admin" || Role == "Basic")
        {<button class="btn btn-outline-primary" type="button" @onclick="Create_Click">Create new</button>}
    </h2>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Claim No.</th>
            <th scope="col">Title</th>
            <th scope="col">SubmitDate</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>

        @*Requested = 1, Approved = 2, Rejected = 3, Queried = 4, Financing = 5, RejectedByFinance = 7, Finished = 8, Saved = 99*@
        @if (Claims == null)
        {
            <tr>
                <th scope="row"> </th>
                <td> NO DATA </td>
            </tr>
        }
        else
        {
            int cnt = 0;
            @foreach (var item in Claims)
            {
                cnt++;
                ClaimId = item.Id;
                <tr>
                    <td> @item.Id</td>
                    <td> @item.Title</td>
                    <td> @item.SubmitDate</td>
                    <td> @item.TotalAmount</td>
                    <td> @item.Status</td>
                    <td>
                        @if (Role == "Basic")
                        {
                            if (item.Status == StoreManager.Domain.Entities.Expense.Status.Rejected ||
                                item.Status == StoreManager.Domain.Entities.Expense.Status.Queried ||
                                item.Status == StoreManager.Domain.Entities.Expense.Status.RejectedByFinance ||
                                item.Status == StoreManager.Domain.Entities.Expense.Status.Saved)
                            {
                                <a href="@($"/edit/{item.Id}")" class="btn btn-primary m-0">Edit</a>
                                <a href="@($"/detail/{item.Id}")" class="btn btn-primary m-0">Detail</a>
                                <button class="btn btn-primary" type="button" value="@ClaimId" @onclick="Delete_Click">
                                    Delete
                                </button>
                            }
                            else
                            {
                                <a href="@($"/detail/{item.Id}")" class="btn btn-primary m-0">Detail</a>
                            }
                        }
                        else if (Role == "Approver")
                        {
                            <a href="@($"/Approver/{item.Id}")" class="btn btn-primary m-0">Detail</a>
                        }
                        else if (Role == "Finance")
                        {
                            <a href="@($"/Finance/{item.Id}")" class="btn btn-primary m-0">Detail</a>
                        }
                        else if (Role == "Admin" || Role == "SuperAdmin")
                        {
                            <a href="@($"/edit/{item.Id}")" class="btn btn-primary m-0">Edit</a>
                            <a href="@($"/detail/{item.Id}")" class="btn btn-primary m-0">Detail</a>
                            <button class="btn btn-primary" type="button" value="@ClaimId" @onclick="Delete_Click">
                                Delete
                            </button>
                        }
                        else
                        { <a href="@($"/detail/{item.Id}")" class="btn btn-primary m-0">Detail</a>}
                    </td>

                </tr>
            }
        }
    </tbody>
</table>


@*<ConfirmBase @ref="DeleteConfirmation" ConfirmationChanged="ConfirmDelete_Click">
    </ConfirmBase>*@
@*@foreach (var claim in AuthenticationStateUser.Claims)
    {
        <tr>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
        </tr>
    }*@


@*<h6 class="mb-4">Hello, @context.User.Identity.Name</h6>*@
@*<h1 class="mb-4">Authentication State</h1>
    <h2 class="mb-4">Hello, @AuthenticationStateUser.Identity.Name!</h2>*@

@*//http://www.mattruma.com/adventures-with-blazor-accessing-claims-in-a-razor-page/
    <h1 class="mb-4">Authentication State</h1>
        <h2 class="mb-4">Hello, @AuthenticationStateUser.Identity.Name!</h2>
        <h1 class="mb-4">Authentication State Provider</h1>
        <h2 class="mb-4">Hello, @AuthenticationStateProviderUser.Identity.Name!</h2>*@