@page "/list"
@inherits ClaimListBase


<h2>Expense Claim List</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">SubmitDate</th>
            <th scope="col">TotalAmount</th>
        </tr>
    </thead>
    <tbody>


        @if (Claims == null)
        {
            <tr>
                <th scope="row"> </th>
                <td> NO DATA </td>
            </tr>
        }
        else
        {
            int cnt = 0;
            int id = 0;
            @foreach (var item in Claims)
            {
                cnt++;
                ClaimId = item.Id;
                <tr>
                    <th scope="row">@cnt</th>
                    <td> @item.Title</td>
                    <td> @item.SubmitDate</td>
                    <td> @item.TotalAmount</td>
                    <td>
                        <a href="@($"/edit/{item.Id}")" class="btn btn-primary m-0">Edit</a>
                        <a href="@($"/detail/{item.Id}")" class="btn btn-primary m-0">Detail</a>

                        @*<a href="#" class="btn btn-primary m-0" value="@ClaimId" @onclick="Delete_Click">Delete</a>*@
                        <button class="btn btn-primary" type="button" value="@ClaimId" @onclick="Delete_Click">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        }

    </tbody>

</table>

@*<ConfirmBase @ref="DeleteConfirmation" ConfirmationChanged="ConfirmDelete_Click">
</ConfirmBase>*@
