@page "/edit/{Id}"
@page "/edit"
@inherits ClaimEditCreateBase
@attribute [Authorize]


<EditForm Model="@ClaimEditModel" OnValidSubmit="HandleValidSubmit">
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary />
    @if (ClaimEditModel.Id != 0)
    {<h3>Edit Claim</h3>}
    else
    {<h3>Create Claim</h3>}

    <hr />
    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">
            Title
        </label>
        <div class="col-sm-10">
            <InputText id="title" class="form-control" placeholder="Title" style="width:800px" @bind-Value="ClaimEditModel.Title" />
            <ValidationMessage For="@(() => ClaimEditModel.Title)" />
        </div>
    </div>

    <fieldset disabled>
        <div class="form-group row">
            <label for="requester" class="col-sm-2 col-form-label">
                Requester
            </label>
            <div class="col-sm-10">
                <InputText id="requester" class="form-control" placeholder="Requester" style="width:800px" @bind-Value="ClaimEditModel.Requester" />
            </div>
        </div>
        <div class="form-group row">
            <label for="Approver" class="col-sm-2 col-form-label">
                Approver
            </label>
            <div class="col-sm-10">
                <InputText id="Approver" class="form-control" placeholder="Approver" style="width:800px" @bind-Value="ClaimEditModel.Approver" />
            </div>
        </div>
        <div class="form-group row">
            <label for="submitDate" class="col-sm-2 col-form-label">
                Submit Date
            </label>
            <div class="col-sm-10">
                <InputDate id="submitDate" class="form-control" placeholder="Submit Date" style="width:500px" @bind-Value="ClaimEditModel.SubmitDate" />
            </div>
        </div>
        <div class="form-group row">
            <label for="approvalDate" class="col-sm-2 col-form-label">
                Approval Date
            </label>
            <div class="col-sm-10">
                <InputDate id="approvalDate" class="form-control" placeholder="Approval Date" style="width:500px" @bind-Value="ClaimEditModel.ApprovalDate" />
            </div>
        </div>
        <div class="form-group row">
            <label for="processedDate" class="col-sm-2 col-form-label">
                Processed Date
            </label>
            <div class="col-sm-10">
                <InputDate id="processedDate" class="form-control" placeholder="Processed Date" style="width:500px" @bind-Value="ClaimEditModel.ProcessedDate" />
            </div>
        </div>

        <div class="form-group row">
            <label for="totalAmount" class="col-sm-2 col-form-label">
                Total Amount
            </label>
            <div class="col-sm-10">
                <InputNumber id="totalAmount" class="form-control" placeholder="Total Amount" style="width:800px" @bind-Value="ClaimEditModel.TotalAmount" />
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">
                Status
            </label>
            <div class="col-sm-10">
                <InputSelect id="status" class="form-control" placeholder="Status" style="width:800px" @bind-Value="ClaimEditModel.Status">
                    @foreach (var status in Enum.GetValues(typeof(StoreManager.Domain.Entities.Expense.Status)))
                    {
                        <option value="@status"> @status</option>}
                </InputSelect>
            </div>
        </div>
    </fieldset>


    <div class="form-group row">
        <label for="requesterComments" class="col-sm-2 col-form-label">
            Requestor Comments
        </label>
        <div class="col-sm-8">
            <textarea id="requesterComments" class="form-control" placeholder="Requestor Comments" style="width:800px"
                      @bind-value="RequesterComments" @bind-value:event="oninput"></textarea>
        </div>
        <div class="col-sm-2">
            Count : @RequesterComments.Length
        </div>
    </div>

    <fieldset disabled>
        <div class="form-group row">
            <label for="approverComments" class="col-sm-2 col-form-label">
                Approver Comments
            </label>
            <div class="col-sm-8">
                <textarea id="approverComments" class="form-control" placeholder="Approver Comments" style="width:800px"
                          @bind-value="ApproverComments" @bind-value:event="oninput"></textarea>
            </div>
            <div class="col-sm-2">
                Count : @ApproverComments.Length
            </div>
        </div>
        <div class="form-group row">
            <label for="FinanceComments" class="col-sm-2 col-form-label">
                Finance Comments
            </label>
            <div class="col-sm-8">
                <textarea id="financeComments" class="form-control" placeholder="Finance Comments" style="width:800px"
                          @bind-value="FinanceComments" @bind-value:event="oninput"></textarea>
            </div>
            <div class="col-sm-2">
                Count : @FinanceComments.Length
            </div>
        </div>
    </fieldset>

    <hr class="rounded">

    @if (ClaimEditModel.LineItems != null)
    {
        <h3>
            Line Items
            @if (ClaimEditModel.Id == 0)
            {<button class="btn btn-outline-primary" type="button" @onclick="AddList_Click">Add</button>}
        </h3>
        <table class="table">
            <tr>
                <th></th>
                <th>Category</th>
                <th>Payee</th>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>USD</th>
                <th>Receipt</th>
                <th></th>
            </tr>

            @foreach (var item in LineItemEditModels)// Adding LineItems
            {
                int idx = LineItemEditModels.IndexOf(item);
                <tr>
                    <td>
                        <button class="oi oi-delete" type="button" @onclick="@(x => Delete_Lineitem(@item))"></button>
                        @*<button class="oi oi-delete" type="button" @onclick="@(x => Delete_Lineitem(@item))"></button>*@
                    </td>
                    <td>
                        <InputSelect id="category" @bind-Value="item.CategoryId" class="form-control" style="width:150px">
                            @foreach (var cart in Categories)
                                    {
                                <option value="@cart.Id"> @cart.Name</option>
                                    }
                        </InputSelect>
                        <ValidationMessage For="@(() => LineItemEditModel.CategoryId)" />
                    </td>
                    <td>
                        <InputText id="Payee" class="form-control" placeholder="Payee" style=" width:100px" @bind-Value="item.Payee" />
                        <ValidationMessage For="@(() => LineItemEditModel.Payee)" />
                    </td>
                    <td>
                        <InputDate id="Date" class="form-control" placeholder="Date" style=" width:120px" @bind-Value="item.Date" />
                        <ValidationMessage For="@(() => LineItemEditModel.Date)" />
                    </td>
                    <td>
                        <InputText id="Description" class="form-control" placeholder="Description" style="width:230px" @bind-Value="item.Description" />
                        <ValidationMessage For="@(() => LineItemEditModel.Description)" />
                    </td>
                    <td>
                        @if (item.CurrencyId == 7)
                        {
                            <InputNumber id="Amount" class="form-control" placeholder="Amount" style="width:120px" @bind-Value="item.Amount" Disabled />
                        }
                        else
                        { <InputNumber id="Amount" class="form-control" placeholder="Amount" style="width:120px" @bind-Value="item.Amount" />
                            <ValidationMessage For="@(() => LineItemEditModel.Amount)" />
                        }
                    </td>
                    <td>
                        <InputSelect id="CurrencyId" @bind-Value="item.CurrencyId" class="form-control" style="width:80px">
                            @foreach (var curr in Currencies)
                                    {
                                <option value="@curr.Id"> @curr.Name</option>
                                    }
                        </InputSelect>
                        <ValidationMessage For="@(() => LineItemEditModel.CurrencyId)" />
                    </td>
                    <td>
                        <InputNumber id="title" class="form-control" style="width:120px" @bind-Value="item.USDAmount" @oninput="(e) => EventAmt(idx, e)" />
                        <br>
                    </td>

                    <td>
                        @if (item.Receipt != null && item.Receipt.Length > 0)
                        {
                            var Idus = (LineItemImageModels.Where(x => x.Id == item.Id).Select(x => x.ImageDataUrls)).FirstOrDefault();

                            @foreach (var imageDataUrl in Idus)
                            {
                                <div class="card" style="width:5rem;">
                                    <div class="card-body">
                                        <img class="rounded m-1" src="@imageDataUrl" @onclick="(e => SelectImage(imageDataUrl))"
                                             style="width: 100%; object-fit: cover; padding-top: 10px;" type="button" />
                                    </div>
                                </div>
                            }
                        }
                    </td>

                    <td>
                        @*<button class="btn btn-outline-primary" type="button" @onclick="(e => AddImage(item))"></button>*@
                        <button class="oi oi-paperclip" type="button" @onclick="(e => AddImage(item))"></button>
                    </td>
                </tr>
            }
        </table>
        @if (ShowImageDialog)
        {
            <!-- Modal -->
            <div class="modal fade show d-block" id="receiptModal" tabindex="-1" role="dialog" aria-labelledby="receiptTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="receiptTitle">Selected Receipt</h5>
                            <button type="button" class="close" @onclick="(e => CloseModal())" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body align-self-center">
                            <div class="card">
                                <InputFile OnChange="(e)=> OnInputFileChange(e, Liem)" />

                                @*<img class="viewableImage" src="@selectedImage" style="width: 100%; object-fit: cover; padding-top: 10px;">*@
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button @onclick="(e => CloseModal())" class="btn btn-outline-primary" type="button">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (ShowDialog)
        {
            <!-- Modal -->
            <div class="modal fade show d-block" id="receiptModal" tabindex="-1" role="dialog" aria-labelledby="receiptTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="receiptTitle">Selected Receipt</h5>
                            <button type="button" class="close" @onclick="(e => CloseModal())" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body align-self-center">
                            <div class="card">
                                <img class="viewableImage" src="@selectedImage" style="width: 100%; object-fit: cover; padding-top: 10px;">
                                @*<div class="card-img" style="background-image: url('@selectedImage');">
                                    </div>*@
                                @*<div class="card align-self-center" style="width:25rem; height:25rem;">
                                        <div class="card-body align-self-center">
                                            <img class="rounded m-auto" src="@selectedImage" />
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button @onclick="(e => CloseModal())" class="btn btn-outline-primary" type="button">
                                Close
                            </button>
                            @*<button type="button" class="btn btn-primary">Save changes</button>*@
                        </div>
                    </div>
                </div>
            </div>
        }



    }
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-outline-primary" type="button" @onclick="Save_Click">Save</button>

    <button class="btn btn-outline-primary" type="button" @onclick="BackToList">
        Back to full List
    </button>
</EditForm>
<hr />

