@page  "/ins/Currency"
@inherits CurrencyInsBase

<EditForm Model="@CurrencyEditModel" OnValidSubmit="HandleValidSubmit">
    <ValidationSummary></ValidationSummary>
    <fieldset disabled>
        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">
                ID
            </label>
            <div class="col-sm-10">
                <InputNumber id="id" class="form-control" placeholder="Id" style="width:800px" @bind-Value="CurrencyEditModel.Id" />
                <ValidationMessage For="@(()=> CurrencyEditModel.Id)" />
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">
            Name
        </label>
        <div class="col-sm-10">
            <InputText id="name" class="form-control" placeholder="Name" style="width:800px" @bind-Value="CurrencyEditModel.Name" />
            <ValidationMessage For="@(()=> CurrencyEditModel.Name)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="code" class="col-sm-2 col-form-label">
            Code
        </label>
        <div class="col-sm-10">
            <InputText id="code" class="form-control" placeholder="Code" style="width:800px" @bind-Value="CurrencyEditModel.Symbol" />
            <ValidationMessage For="@(()=> CurrencyEditModel.Symbol)" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-primary" type="button" @onclick="Create_Click">Create</button>

</EditForm>


@if (Currencies == null)
{
    <div class="spinner"></div>

}
else
{
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Currencies)
                {
                    Id = item.Id;
                    <tr>
                        <td> @item.Id</td>
                        <td> @item.Name</td>
                        <td> @item.Symbol</td>
                        <td>
                            @*<a href="@($"/edit/{item.Id}")" class="btn btn-primary m-0">Edit</a>*@
                            @*<a href="#" class="btn btn-primary m-0" value="@ClaimId" @onclick="Delete_Click">Delete</a>*@
                            <button class="btn btn-primary" type="button" value="@Id" @onclick="@(x=> Select_Click(@item.Id , Id))">
                                Select
                            </button>
                            <button class="btn btn-primary" type="button" name="@Id" value="@Id" @onclick="@(x=> Delete_Click(@item.Id))">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
}

