@page  "/ins/LineItem"
@inherits LineItemInsBase

<EditForm Model="@LineItemEditModel" OnValidSubmit="HandleValidSubmit">
    <ValidationSummary></ValidationSummary>
    <fieldset disabled>
        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">
                ID
            </label>
            <div class="col-sm-10">
                <InputNumber id="id" class="form-control" placeholder="Id" style="width:800px" @bind-Value="LineItemEditModel.Id" />
                <ValidationMessage For="@(()=> LineItemEditModel.Id)" />
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <label for="claimId" class="col-sm-2 col-form-label">
            ClaimId
        </label>
        <div class="col-sm-10">
            <InputNumber id="claimId" class="form-control" placeholder="Title" style="width:800px" @bind-Value="LineItemEditModel.ClaimId" />
            <ValidationMessage For="@(()=> LineItemEditModel.ClaimId)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="categoryId" class="col-sm-2 col-form-label">
            CategoryId
        </label>
        <div class="col-sm-10">
            <InputSelect id="category" @bind-Value="LineItemEditModel.CategoryId" class="form-control" style="width:800px">
                @foreach (var cart in Categories)
                {
                    <option value="@cart.Id"> @cart.Name</option>
                }
            </InputSelect>
        </div>
    </div>

    <div class="form-group row">
        <label for="payee" class="col-sm-2 col-form-label">
            Payee
        </label>
        <div class="col-sm-10">
            <InputText id="payee" class="form-control" placeholder="Payee" style="width:800px" @bind-Value="LineItemEditModel.Payee" />
        </div>
    </div>
    <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">
            Date
        </label>
        <div class="col-sm-10">
            <InputDate id="date" class="form-control" placeholder="Date" style="width:500px" @bind-Value="LineItemEditModel.Date" />
        </div>
    </div>

    <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">
                Description
            </label>
            <div class="col-sm-8">
                <textarea id="description" class="form-control" placeholder="Description" style="width:800px"
                          @bind-value="Description" @bind-value:event="oninput"></textarea>
            </div>
            <div class="col-sm-2">
                Count : @Description.Length
            </div>
        </div>

    <div class="form-group row">
        <label for="amount" class="col-sm-2 col-form-label">
            Amount
        </label>
        <div class="col-sm-10">
            <InputNumber id="amount" class="form-control" placeholder="Amount" style="width:800px" @bind-Value="LineItemEditModel.Amount" />
        </div>
    </div>
    <div class="form-group row">
        <label for="currencyCode" class="col-sm-2 col-form-label">
            CurrencyCode
        </label>
        <div class="col-sm-10">
            <InputSelect id="currency" @bind-Value="LineItemEditModel.CurrencyId" class="form-control" style="width:800px">
                @foreach (var curr in Currencies)
                {
                    <option value="@curr.Id"> @curr.Name</option>
                }
            </InputSelect>
        </div>
    </div>

    <div class="form-group row">
        <label for="usdAmount" class="col-sm-2 col-form-label">
            USD Amount
        </label>
        <div class="col-sm-10">
            <InputNumber id="usdAmount" class="form-control" placeholder="USD Amount" style="width:800px" @bind-Value="LineItemEditModel.USDAmount" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-primary" type="button" @onclick="Create_Click">Create</button>

</EditForm>

<h3>Upload PNG images</h3>
<p>
    <InputFile OnChange="@OnInputFileChange" multiple />
</p>

@if (imageDataUrls.Count > 0)
{
    <h4>Images</h4>

    <div class="card" style="width:30rem;">
        <div class="card-body">
            @foreach (var imageDataUrl in imageDataUrls)
            {
                <img class="rounded m-1" src="@imageDataUrl" />
            }
        </div>
    </div>
}


@if (LineItems == null)
{
    <div class="spinner"></div>

}
else
{
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Claim Id</th>
                    <th scope="col">Category Id</th>
                    <th scope="col">Payee</th>
                    <th scope="col">Date</th>
                    @*<th scope="col">Description</th>*@
                    <th scope="col">Amount</th>
                    <th scope="col">CurrencyCode</th>
                    <th scope="col">USDAmount</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in LineItems)
                {
                    Id = item.Id;
                    <tr>
                        <td> @item.Id</td>
                        <td> @item.ClaimId</td>
                        <td> @item.CategoryId</td>
                        <td> @item.Payee</td>
                        <td> @item.Date</td>
                        @*<td> @item.Description</td>*@
                        <td> @item.Amount</td>
                        <td> @item.CurrencyId</td>
                        <td> @item.USDAmount</td>
                        <td>
                            <button class="btn btn-primary" type="button" value="@Id" @onclick="@(x=> Select_Click(@item.Id , Id))">
                                Select
                            </button>
                            <button class="btn btn-primary" type="button" name="@Id" value="@Id" @onclick="@(x=> Delete_Click(@item.Id))">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
}

