@page "/lineitem/detail/{Id}"
@inherits LineItemDetailBase
@attribute [Authorize]

@if (LineItem == null)
{
    <div class="spinner"></div>
}
else
{
    <h3> Line-Item Detail</h3>

    <hr />

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Claim No.
            </dt>
            <dd class="col-sm-10">
                @LineItem.ClaimId
            </dd>
            <dt class="col-sm-2">
                Category
            </dt>
            <dd class="col-sm-10">
                @Category.Name
            </dd>
            <dt class="col-sm-2">
                Payee
            </dt>
            <dd class="col-sm-10">
                @LineItem.Payee
            </dd>
            <dt class="col-sm-2">
                Date
            </dt>
            <dd class="col-sm-10">
                @LineItem.Date
            </dd>
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                @LineItem.Description
            </dd>
            <dt class="col-sm-2">
                Amount
            </dt>
            <dd class="col-sm-10">
                @LineItem.Amount
            </dd>
            <dt class="col-sm-2">
                Currency
            </dt>
            <dd class="col-sm-10">
                @Currency.Name
            </dd>
            <dt class="col-sm-2">
                USD Amount
            </dt>
            <dd class="col-sm-10">
                @LineItem.USDAmount
            </dd>
            <dt class="col-sm-2">
                Receipt
            </dt>
            <dd class="col-sm-10">
                <div class="form-group row">
                    <div class="card" style="width:10rem;">
                        <div class="card-body">
                            @foreach (var imageDataUrl in imageDataUrls)
                            {
                                <img class="rounded m-1" src="@imageDataUrl" @onclick="(e => SelectImage(imageDataUrl))" style="width: 100%; 
                                                object-fit: cover; padding-top: 10px;" type="button" />
                            }
                        </div>
                    </div>
                </div>
            </dd>            
        </dl>
    </div>
}

<button class="btn btn-outline-primary" type="button" @onclick="BackToList">
    Back to full List
</button>
<hr />
@if (ShowDialog)
{
    <!-- Modal -->
    <div class="modal fade show d-block" id="receiptModal" tabindex="-1" role="dialog" aria-labelledby="receiptTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="receiptTitle">Selected Receipt</h5>
                    <button type="button" class="close" @onclick="(e => CloseModal())" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body align-self-center">
                    <div class="card">
                        <img class="viewableImage" src="@selectedImage" style="width: 100%; object-fit: cover; padding-top: 10px;">
                        @*<div class="card-img" style="background-image: url('@selectedImage');">
                            </div>*@
                        @*<div class="card align-self-center" style="width:25rem; height:25rem;">
                                <div class="card-body align-self-center">
                                    <img class="rounded m-auto" src="@selectedImage" />
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <button @onclick="(e => CloseModal())" class="btn btn-outline-primary" type="button">
                        Close
                    </button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
}